name: Testes Automatizados Selenium

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    name: Executar Testes Automatizados
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Clonar o Reposit칩rio
        uses: actions/checkout@v4

      - name: 游댢 Configurar Java 21 e Maven
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: 游 Definir vari치veis para rodar em Headless
        run: echo "BROWSER=chrome" >> $GITHUB_ENV && echo "HEADLESS=true" >> $GITHUB_ENV

      - name: 游닍 Instalar Depend칡ncias do Maven
        run: mvn clean install

      - name: 郊윒잺 Executar Testes
        run: mvn test -Dbrowser=$BROWSER -Dheadless=$HEADLESS

      - name: 游닋 Fazer Upload do Relat칩rio ExtentReports
        uses: actions/upload-artifact@v4
        with:
          name: ExtentReport
          path: target/reports/ExtentReport.html