name: Testes Automatizados - Selenium

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    name: Executando Testes E2E no GitHub Actions
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar o Reposit贸rio
        uses: actions/checkout@v4

      - name:  Configurar Java 21 e Maven
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name:  Instalar o Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name:  Instalar Depend锚ncias do Maven
        run: mvn clean install

      - name: 讹 Executar Testes
        run: mvn test || echo "锔 Teste falhou, mas seguimos para verificar relat贸rio."

      - name:  Criar Diret贸rio de Relat贸rios (Caso N茫o Exista)
        run: mkdir -p target/reports/

      - name:  Verificar Se o Relat贸rio foi Gerado
        run: ls -lah target/reports/ || echo "锔 Nenhum relat贸rio encontrado"

      - name:  Fazer Upload do Relat贸rio de Testes
        uses: actions/upload-artifact@v4
        with:
          name: ExtentReport
          path: target/reports/ExtentReport.html