name: Testes Automatizados Magento

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    name: Executando Testes Automatizados no Docker
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar o Reposit贸rio
        uses: actions/checkout@v4

      - name:  Configurar Java 21 e Maven
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name:  Iniciar o Selenium Grid no Docker
        run: docker-compose up -d

      - name:  Instalar Depend锚ncias do Maven
        run: mvn clean install

      - name: 讹 Executar Testes Dentro do Docker
        run: docker-compose run --rm tests

      - name:  Verificar se o Relat贸rio do ExtentReport Existe
        run: ls -lah target/reports/

      - name:  Fazer Upload do Relat贸rio de Testes para o GitHub Actions
        uses: actions/upload-artifact@v4
        with:
          name: ExtentReport
          path: target/reports/ExtentReport.html

      - name:  Derrubar os Containers Ap贸s os Testes
        run: docker-compose down